<footer>
  <div class="container">
    <p>Army Men Combat is the creation of One Page Rules. You can find their current list of games and miniature files for 3D printing at <a href="https://www.onepagerules.com/">onepagerules.com</a>.</p>
    <p>Since this project is based on their property, everything is free under the MIT license.</p>
    <p>The repository will be primarily public until API Keys for social authentication become involved. A second, necessarily private repo will be made in order to keep the site going once social auth is implemented.</p>
    <p class="text-center">Copyright &copy; <span id="ui_current-year"> YEAR </span></p>
  </div>

</footer>