<!DOCTYPE html>
<html lang="en">
<head>
  {# Edit settings.py and add APP_NAME = 'SOMETHING HERE' or similar #}
  <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %} 
    {% include "partials/_head.html" %}
  {% endblock %}
</head>
<body>
  {% block nav %} 
    {% include "partials/_nav.html" %}
  {% endblock %}
  {% block content %}
  
  {% endblock %}

  {% block footer %} 
    {% include "partials/_footer.html" %}
  {% endblock %}
</body>
</html>