{% extends base.html %}

{% block content %}

<main>

  <div class="container">
    <h1 class="text-center">Army Men Combat</h1>

    <section id="welcome">
      <h2>Attention, soldiers!</h2>
      <p>Prepare for an epic battle like no other with Army Men Combat! It's time to unleash your inner hero and lead your plastic troops to victory in the ultimate tabletop adventure!</p>
      <p>With Army Men Combat, all you need is your trusty army of plastic soldiers, a handful of six-sided dice, and a single page of rules! No need for complicated rulebooks or hours of setup. This game is all about fast-paced, action-packed fun!</p>
      <p>Gather your friends and take command of your own platoon, fighting intense battles across the living room, kitchen table, or even the backyard! Will you storm the enemy's fortress or set up a cunning ambush? The choice is yours, soldier!</p>
    </section>

    <section id="app-description">
      <h2>Calling All Commanders!</h2>
      <p>Get ready to unlock the power of your imagination with the incredible Roster Commander app! With Roster Commander, you become the mastermind behind every victory! Build your unstoppable force with just a few taps, create unique combinations, and witness your roster come to life! </p>
      <p>The power is in your hands as you create and persistently store your game rosters in your personal account. Say goodbye to pen and paper, soldier! Your lists are safe and sound, ready to be summoned whenever you need them.</p>
      <p>But it doesn't stop there! The Roster Commander community is bustling with passionate strategists just like you! Explore other players' rosters, rate them with your battle-tested expertise, and see how your creations stack up against the best in the game!</p>
      <p>With Roster Commander, the possibilities are endless. Access game rules on the go, fine-tune your tactics, and build an army that will go down in history! The battle is just a tap away!</p>
    </section>
  </div>

</main>

{% endblock %}