// color variables

// camo colors
$hx-tan: #BCB183;
$hx-lt-green: #7C8A63;
$hx-green: #4C724C;
$hx-lt-brown: #7B6C5A;
$hx-brown: #423B2D;

// blacks and whites
$hx-off-white: #F4F4F4;
$hx-white: #FFFFFF;
$hx-off-black: #333333;
$hx-black: #000000;

// accent color
$hx-warm-yellow: #FFEE10;
$hx-bright-yellow: #FFFF00;