// color variables
$tan-hex: #BCB183;
$lt-green-hex: #7C8A63;
$green-hex: #4C724C;
$lt-brown-hex: #7B6C5A;
$brown-hex: #423B2D;

$off-white-hex: #F4F4F4;
$white-hex: #FFFFFF;
$off-black-hex: #333333;
$black-hex: #000000;